<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>USB Port</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- USB 2.0 Section -->
  <section>
    <h2>Universal Serial Bus (USB 2.0)</h2>
    <img src="assets/images/usb-2.0.png" alt="USB 2.0 Diagram" class="usb-image" />
    <table>
      <thead>
        <tr>
          <th>Pin</th>
          <th>Name</th>
          <th>Description</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pin of usb2Pins">
          <td>{{ pin.pin }}</td>
          <td>{{ pin.name }}</td>
          <td>{{ pin.description }}</td>
          <td [style.background]="pin.color">{{ pin.color }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- USB 3.x Section -->
  <section>
    <h2>USB 3.x</h2>
    <img src="assets/images/usb-3.0.png" alt="USB 3.x Diagram" class="usb-image" />
    <table>
      <thead>
        <tr>
          <th>Pin</th>
          <th>Type A</th>
          <th>Type B</th>
          <th>Signal</th>
          <th>Description</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pin of usb3Pins">
          <td>{{ pin.pin }}</td>
          <td>{{ pin.typeA }}</td>
          <td>{{ pin.typeB }}</td>
          <td>{{ pin.signal }}</td>
          <td>{{ pin.description }}</td>
          <td [style.background]="pin.color">{{ pin.color }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- USB 3.1 Type-C Section -->
  <section>
    <h2>USB 3.1 Type C</h2>
    <img src="assets/images/usb-c.png" alt="USB Type-C Diagram" class="usb-image" />
    <table>
      <thead>
        <tr>
          <th>Pin</th>
          <th>Signal</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pin of usbTypeCPins">
          <td>{{ pin.pin }}</td>
          <td>{{ pin.signal }}</td>
          <td>{{ pin.description }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</ion-content>
