<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>{{ calculator.title }}</ion-title>
    <ion-buttons slot="end">
      <!-- Butonul de partajare -->
      <ion-button (click)="shareCalculator()">
        <ion-icon slot="icon-only" name="share-social"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="calculator.description" class="description-container">
    <h3>Description:</h3>
    <p>{{ calculator.description }}</p>
  </div>
  <div class="parameters-container">
    <div *ngFor="let param of calculator.parameters" class="parameter-item">
      <ion-item class="container-custom-calculator">
        <ion-input 
        [(ngModel)]="param.value" 
        [label]="param.name + ' -> (' + param.key + '):'" 
        label-placement="floating">
      </ion-input>
    </ion-item>
    </div>
  </div>


  <div class="formula-container">
    <h3>Formula:</h3>
    <p>{{ calculator.formula }}</p>
  </div>

  <div class="result-container">
    <h3>Result:</h3>
    <p>{{ result }}</p>
  </div>

  <ion-button expand="block" color="success" class="calculate-button" (click)="calculate()">Calculate</ion-button>
</ion-content>
