.circuit-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.circuit-image {
  transform: translatey(31%);
  margin-bottom: 20px;

  margin-right: 1rem;
  margin-left: 1rem;
  width: 150px;
  height: 150px;
}

.top-button {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.left-button {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.right-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.power-button {
  margin-top: 20px;
}

.nearest {
  margin-top: 20px;
  text-align: center;
}


img.circuit-image {
  filter: invert(1); /* Schimbă culoarea pentru dark mode */
}

/* Aplica doar în dark mode */
@media (prefers-color-scheme: dark) {
  img.circuit-image {
    filter: invert(1); /* Imaginea va avea un efect de inversare pentru dark mode */
  }
}

@media (prefers-color-scheme: light) {
  img.circuit-image {
    filter: none; /* Nu aplicăm niciun efect */
  }
}
