<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Electro Guide
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment>
    <ion-segment-button value="calculatoare" content-id="calculatoare">
      <ion-label>Calculators</ion-label>
    </ion-segment-button>
    <ion-segment-button value="schemePini" content-id="schemePini">
      <ion-label>Pinout Diagrams</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-segment-view>
    <ion-segment-content id="calculatoare">
      <app-calculatoare></app-calculatoare>
    </ion-segment-content>
    <ion-segment-content id="schemePini">
      <app-scheme-pini></app-scheme-pini>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>
