 <!-- Lista principală -->
 <ion-list>
  <ion-item (click)="openModal(ResistorColorCodeComponent)">
    <ion-icon name="hardware-chip-outline" slot="start"></ion-icon>
    Resistor Color Code
  </ion-item>
  <ion-item (click)="openModal(OhmsLawComponent)">
    <ion-icon name="flash-outline" slot="start"></ion-icon>
    Ohm's Law
  </ion-item>
  <ion-item (click)="openModal(InductorColorCodeComponent)">
    <ion-icon name="podium-outline" slot="start"></ion-icon>
    Inductor Color Code
  </ion-item>
</ion-list>

<!-- Calculatoare personalizate -->
<ion-list *ngIf="customCalculators.length > 0">
  <ion-item *ngFor="let calculator of customCalculators">
    <ion-icon name="create-outline" slot="start"></ion-icon>
    <ion-label>{{ calculator.title }}</ion-label>
    <ion-button fill="clear" color="primary" (click)="openCustomCalculator(calculator)">
      Open
    </ion-button>
    <!-- <ion-button fill="clear" color="secondary" (click)="shareCalculator(calculator)">
      Share
    </ion-button> -->
  </ion-item>
</ion-list>

<!-- FAB Button -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openCreateCalculatorModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
