 <!-- Lista principală -->
 <ion-list>
  <ion-item (click)="openModal(ResistorColorCodeComponent)">
    <ion-icon name="hardware-chip-outline" slot="start"></ion-icon>
    Resistor Color Code
  </ion-item>
  <ion-item (click)="openModal(OhmsLawComponent)">
    <ion-icon name="flash-outline" slot="start"></ion-icon>
    Ohm's Law
  </ion-item>
  <ion-item (click)="openModal(InductorColorCodeComponent)">
    <ion-icon name="podium-outline" slot="start"></ion-icon>
    Inductor Color Code
  </ion-item>
</ion-list>
